.textarea {
  background-color: #efefef;
  border: 0;
  box-sizing: border-box;
  display: inline-block;
  height: 100vh;
  float: left;
  margin: 0;
  padding: 1rem;
  resize: none;
  width: 50vw;
}

.textarea:focus {
  outline: 0;
}

.textarea:first-of-type {
  border-right: 1px solid #ddd;
}
