.editorContainer {
  background-color: #efefef;
  border-right: 1px solid #ddd;
  box-sizing: border-box;
  height: 100vh;
  margin: 0;
  padding: 1rem;
  width: 50vw;
}

:global(.DraftEditor-root) {
  font-family: Georgia;
  height: 100%;
  width: 100%;
}
