.toolbar {
  align-items: center;
  display: flex;
  padding: 1rem;
}

.commonIcon {
  margin-left: 0.75rem;
}

.editModeSwitch {
  flex-grow: 1;
  margin-bottom: 0;
  margin-right: 2rem;
  text-align: right;
}
